[{boss, [
    {path, "/home/yourname/ChicagoBoss"},
    {vm_cookie, "abc123"},
    {applications, [cb_admin, addressbook]},
    {db_host, "localhost"},
    {db_port, 27017},
    {db_adapter, mongodb},
    {db_database, addressbook},
    {db_write_mode, safe},
    {db_read_mode, master},
    {log_dir, "log"},
    {server, misultin},
    {port, 8001},
    {session_adapter, mock},
    {session_key, "_boss_session"},
    {session_exp_time, 525600}
]},
{ addressbook, [
    {path, "../addressbook"},
    {base_url, "/"}
]},
{cb_admin, [
    {path, "../cb_admin"},
    {allow_ip_blocks, ["127.0.0.1"]},
    {base_url, "/admin"}
]}].
