<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />

 	<link rel="stylesheet" href="/static/css/style.css" type="text/css" charset="utf-8" />
 	<title>{% block title %}My amazing site{% endblock %}</title>
	{% block res %} {% endblock %}
</head>

<body>
   <header>
		{% if person %}
			Hello, {{person.name}}
			(<a href="/user/logout">Quick, Log Me Out!</a>)
			<br />
		{% endif %}
		Your IP: {{ip}}
	</header>
	<nav>
		<ul class="nav">
			<li class="nav"><a href="/">Home</a></li>
			<li class="nav"><a href="/create">Create</a></li>
			<li class="nav"><a href="/chat/live/public">Chat</a></li>
			<li class="nav"><a href="/user/login">Login</a></li>
			<li class="nav"><a href="/user/showall">Users</a></li>
		</ul>
	</nav>
	<section>
	  {% block content %}{% endblock %}
	</section>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
</body>
</html>
